
        <!-- Start: Our Featured Area
        ==============================-->
        <section id="our-featured">
            <div class="container">
                <div class="row our-featured-body section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-8 col-md-offset-2">

                        <h2 class="section-heading">比賽緣起</h2>
                        <P>草根盃是由囡仔團隊與四福單槓團聯手發起的徒手健身競賽<br>
                        有感於每年街頭健身的比賽太少，希望藉此為年輕選手打造舞台、吸收經驗的機會，並建立健全完善的比賽機制。<br><br>

除了街頭健身外，我們期待透過基本的徒手與負重競賽，能製造一個友善交流的平台<br>吸引各界健身人士共襄盛舉。
對於彼此間的誤解與距離感，能在比賽後有一番新的了解與認識。</P>

                    </div>
                    <!-- End: Section Header -->

                    <div class="clearfix"></div>

                    <!-- Start: Our Featured video -->
                    <div class="our-featured-video col-md-10 col-md-offset-1 wow fadeInDown">

                        <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                        <div class="video">
                           <!-- <iframe class="video-async" data-source="vimeo" data-video="89035281" data-color="3AC353" allowfullscreen="" src="https://player.vimeo.com/video/8"></iframe>  -->
                           <!--  Video Link Goes Here-->
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/8yHlR6GsYuE" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!--  End: Video Area  -->

                    </div>
                    <!-- End: Our Featured Video -->

                </div>
                <!-- Start: .row .our-featured-body .section-separator  -->
             </div>
             <!-- End: container  -->
        </section>
        <!-- End: Our Featured Area
        ====================================-->