                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1_old.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h3>台大真強者</h3>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>邱仁政</h3>
                          <p>裁判長</p>

                      </div>                      
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1_old.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h2>Daway</h2>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>許傳偉</h3>
                          <p>副裁判</p>

                      </div>

                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1_old.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h3>Kevin</h3>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>吳長勳</h3>
                          <p>網站設計師</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1_old.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>藍天浩</h3>
                          <p>平面攝影師</p>
                          
                      </div>